.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(204, 166, 187, 0.8);
  overflow-y: hidden;
  overscroll-behavior: contain;
  pointer-events: auto;
  animation: fadeIn 0.9s 1.6s both;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.modal-box {
  position: relative;
  width: 320px;
  min-height: 285px;
  max-height: 100%;
  padding: 72px 40px 36px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  box-sizing: border-box;
  text-align: center;
}

.modal-caption {
  margin: 0;
  margin-bottom: 12px;
  font-size: 24px;
  line-height: 32px;
}

.modal-description {
  margin: 0;
  margin-bottom: 32px;
  font-size: 16px;
  line-height: 22px;
}

.modal .button {
  background-color: rgb(245, 94, 140);
  color: white;
}